{
  "presets": ["next/babel"],
  "plugins": ["styled-components", "macros"],
  "env": {
    "development": {
      "plugins": [["babel-plugin-styled-components"]]
    },
    "test": {
      "plugins": [["babel-plugin-styled-components"]]
    }
  }
}
